<div class="row">
  <div class="col-6 add-movie">
    <h3>Add Movie</h3> 
    <form (submit)="addMovie()"> 
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" [(ngModel)]="movie.name" name="name" aria-describedby="nameHelp" placeholder="Enter name">
        <!-- <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" [(ngModel)]="movie.path" name="path" aria-describedby="nameHelp" placeholder="Path">
      </div>
      <div class="form-group">
        <label for="inputState">Quality</label>
        <select [(ngModel)]="movie.quality" name="quality" class="form-control">
          <option [ngValue]="quality.quality" *ngFor="let quality of qualities">{{quality.quality}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div> 
</div>